.App {
  margin: auto;
  width: 90%;
}
/* We selected this breaking point  because if it goes less than the breaking width we cant able to see the y axis label */
@media only screen and (max-width: 525px) {
  .scatterPlot,
  .barChart {
    width: 525px;
  }
  .scatterPlot_container,
  .barChart_container {
    width: 100%;
    overflow: scroll;
  }
  .App {
    width: 98%;
  }
}
/* }We selected this breaking point because if we seleect more than this breaking width  the chart is stretching and it doesnt look good */
@media only screen and (min-width: 925px) {
  .scatterPlot,
  .barChart {
    width: 100%;
  }
  .scatterPlot_container,
  .barChart_container {
    width: 925px;
    margin: auto;
  }
}
